/vendor/
/composer.lock
/js/node_modules/
/js/npm-debug.log*
# The compiled Flarum frontend bundles are runtime assets and must be present
# in Composer archives used by Extension Manager installations.
!/js/dist/
/js/dist/*
!/js/dist/admin.js
!/js/dist/admin.v1.js
!/js/dist/admin.v1.js.LICENSE.txt
/server-compatibility/
*.orig
